<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.github.andregeng.vsc</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>C7BBE1B7-EF13-40CB-B157-5293C49DBEE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B4953912-378A-402B-85A7-65C1151F2A92</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>61FE1895-A6E0-4BE2-B800-0BDB340F32A4</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>open in current window</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C23AF90C-14E1-4504-93F5-FFC4A7A77271</string>
				<key>modifiers</key>
				<integer>262144</integer>
				<key>modifiersubtext</key>
				<string>reveal in Finder</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0A3FF03D-AFBE-4B0D-A732-E050B5D8E125</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>open in Terminal</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>andregeng</string>
	<key>description</key>
	<string>Simple workflow that allows you to browse and open Visual Studio Code projects</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>VSC</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>${vscPath:-/usr/local/bin/code} {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B4953912-378A-402B-85A7-65C1151F2A92</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>vsc</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading VSC projejcts</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Load VSC projects</string>
				<key>title</key>
				<string>vsc</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C7BBE1B7-EF13-40CB-B157-5293C49DBEE4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>${vscPath:-/usr/local/bin/code} -r {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>61FE1895-A6E0-4BE2-B800-0BDB340F32A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a Finder {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C23AF90C-14E1-4504-93F5-FFC4A7A77271</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -a ${terminalApp:-iTerm} {query}</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>0A3FF03D-AFBE-4B0D-A732-E050B5D8E125</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Simple workflow that allows you to browse and open Visual Studio Code projects.

Usage:
Simply type vsc and press space to list all projects. Optionally type a search string to filter results.</string>
	<key>uidata</key>
	<dict>
		<key>0A3FF03D-AFBE-4B0D-A732-E050B5D8E125</key>
		<dict>
			<key>note</key>
			<string>open in Terminal</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>550</integer>
		</dict>
		<key>61FE1895-A6E0-4BE2-B800-0BDB340F32A4</key>
		<dict>
			<key>note</key>
			<string>open in current window</string>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>B4953912-378A-402B-85A7-65C1151F2A92</key>
		<dict>
			<key>note</key>
			<string>open in new window</string>
			<key>xpos</key>
			<integer>420</integer>
			<key>ypos</key>
			<integer>110</integer>
		</dict>
		<key>C23AF90C-14E1-4504-93F5-FFC4A7A77271</key>
		<dict>
			<key>note</key>
			<string>reveal in Finder</string>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>470</integer>
		</dict>
		<key>C7BBE1B7-EF13-40CB-B157-5293C49DBEE4</key>
		<dict>
			<key>xpos</key>
			<integer>140</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>nodePath</key>
		<string>/usr/local/bin/node</string>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
